<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Solight | $locale.headerTitle $!firm.name</title>
#parse( "font-styles.vm" )

<style>
@CHARSET "UTF-8";

@page {
    size: A4;
}

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
   	font-stretch: condensed;
   	font-display: block;
}

.header-label-wrapper {
    margin-left: 64px;
    padding-left: 16px;
    color: #f36717;
    font-size: 24px;
    font-weight: bold;
}

.body-container {
    margin-left: 48px;
    margin-right: 48px;
}

.body-container-top {
}

.toc-wrapper {
    padding: 0 32px 16px 32px;
    border-radius: 14px;
    background-color: #e9e9e9;
    font-size: 11pt !important;
    margin-top: 20px;
}

.product-toc-header {
    display: inline-block;
    width: 120px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    height: 22px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #f36717;
    border-radius: 12px;
    margin-top: 16px;
    padding-top: 3px;
}

th {
    text-align: left;
}

.product-link {
    color: black;
    text-decoration: none;
}

.product-link-code {
    font-weight: bold;
}

.product-link-price {
    font-weight: bold;
    padding-left: 15px;
    white-space: nowrap;
}

.product-link-td-code {
    padding-left: 15px;
    padding-right: 24px;
	white-space: nowrap;
	vertical-align: middle;
}

.product-link-th-price {
    text-align: center;
}

.product-link-td-price {
    text-align: right;
    padding-right: 15px;
}

.product-link-td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-image {
    width: auto;
    max-height: 300px;
}

.product-detail {
    margin-top: 20px;
    background-color: #e9e9e9;
    border-radius: 16px;
    padding: 20px;
    max-height: 420px;
    overflow: hidden;
}

.product-description {
    font-size: 14px;
}

.product-description ul {
    padding: 0 !important;
    padding-left: 16px !important;
    margin: 0 !important;
}

.toc {
    width: 100%;
}

.toc td {
    border-top: 1px solid darkgray;
}

.toc tbody tr:nth-child(1) td {
    border-top: 1px solid black;
}

.product-more-info-link-wrapper {
    padding-top: 16px;
}

.before-footer-link-wrapper {
    padding-top: 16px;
    float: right;
}

.before-footer-link {
    width: 140px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    height: 28px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #f36717;
    border-radius: 12px;
    float: right;
}

.before-footer-link a {
    color: inherit;
    text-decoration: none;
    line-height: 28px;
}

.product-more-info-link {
    display: inline-block;
    width: 230px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    height: 28px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #f36717;
    border-radius: 12px;
}

.product-more-info-link-label-wrapper a {
    color: inherit;
    text-decoration: none;
    line-height: 28px;
}

.product-more-info-link-image-wrapper {
    margin-left: 20px;
    width: 32px;
    height: 20px;
    margin-top: 4px;
    vertical-align: middle;
    line-height: 20px;
    float: left;
}

.before-footer-link-image-wrapper {
    margin-left: 20px;
    width: 32px;
    height: 20px;
    margin-top: 4px;
    vertical-align: middle;
    line-height: 20px;
    float: left;
}

.product-more-info-link-label-wrapper {
    float: left;
    width: 160px;
    height: 20px;
    line-height: 20px;
}

.before-footer-link-label-wrapper {
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
}

.product-layout {
    width: 100%;
}

.product-layout-image-layout {
    width: 50%;
    float: left;
    height: 300px;
}

.product-layout-summary-layout {
    width: 50%;
    float: left;
    height: 300px;
    text-align: center;
}

.product-layout-summary-wrapper {
    display: inline-block;
    width: 75%;
    margin: auto;
    padding-top: 5%;
}

.clearfix {
    clear: both;
}

.product-layout-image-wrapper {
    width: 100%;
    text-align: center;
}

.product-summary-table-td-category-kod-wrapper {
    background-color: #f36717;
    height: 30px;
    border-radius: 15px;
    padding: 0px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-summary-table-td-category-kod {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.product-summary-table-td-category {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.product-summary-table-td-name {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-bottom: 5px;
}

.product-summary-table-td-infodetail td {
    color: #666;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.product-summary-table-td-my-price td {
    color: #f36717;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 2px;
}

.product-summary-table-td-my-price-emphasize {
    font-weight: bold !important;
    text-align: left !important;
    font-size: 28px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.page-break {
    page-break-before: always;
}
</style>

</head>
<body>

## Table of Contents
<div class="body-container-top">
    <div class="header-label-wrapper">
        <div>$locale.headerTitle</div>
        <div>$!firm.name</div>
    </div>
    
    <div class="body-container body-container-top">
        <div class="toc-wrapper">
            <a name="top"></a>
            <h2 class="product-toc-header">$locale.tocLabel</h2>
            <table class="toc" cellspacing="0">
                <thead>
                    <tr>
                        <th class="product-link-td product-link-td-code" style="text-align: left; vertical-align: middle">$locale.codeLabel</th>
                        <th class="product-link-td" style="text-align: left">$locale.descriptionLabel</th>
#if($showPriceMy)
                        <th class="product-link-td product-link-td-price product-link-th-price" style="text-align: center">$locale.priceLabel</th>
#end
                    </tr>
                </thead>
                <tbody>
#set($i = 0)
#set($productCount = $products.size())
#foreach($product in $products)
#set($i = $i + 1)
                    <tr>
                        <td class="product-link-td product-link-td-code"><a class="product-link product-link-code" href="#$product.anchorName">$product.code</a></td>
                        <td class="product-link-td"><a class="product-link product-link-name" href="#$product.anchorName">$product.name</a></td>
#if($showPriceMy)
                        <td class="product-link-td product-link-td-price"><a class="product-link product-link-price" href="#$product.anchorName">$product.unitPriceFormatted $currencySymbol</a></td>
#end
                    </tr>
## Page break logic for TOC: first page has 12 items, subsequent pages have 15
#set($needsPageBreak = false)
#if($i == $tocFirstPageLimit && $i != $productCount)
#set($needsPageBreak = true)
#elseif($i > $tocFirstPageLimit)
#set($offset = $i - $tocFirstPageLimit)
#set($mod = $offset % $tocOtherPageLimit)
#end
#if($needsPageBreak)
                </tbody>
            </table>
        </div>## close toc-wrapper before page break

        <div class="page-break"></div>

        <div class="toc-wrapper">## reopen toc-wrapper after page break
            <table class="toc" cellspacing="0">
                <thead>
                    <tr>
                        <th class="product-link-td product-link-td-code" style="text-align: left">$locale.codeLabel</th>
                        <th class="product-link-td" style="text-align: left">$locale.descriptionLabel</th>
#if($showPriceMy)
                        <th class="product-link-td product-link-td-price product-link-th-price" style="text-align: center">$locale.priceLabel</th>
#end
                    </tr>
                </thead>
                <tbody>
#end
#end
                </tbody>
            </table>
        </div>
    </div>
</div>

## Product Details
#foreach($product in $products)
<div class="page-break"></div>
<div class="body-container" style="padding-top: 12px;">
    <a name="$product.anchorName"></a>

    <div class="product-layout">
    
    	#if($product.pictureUrl)
        <div class="product-layout-image-layout">
            <div class="product-layout-image-wrapper">
                <img class="product-image" src="$product.pictureUrl"/>
            </div>
        </div>
        #end
        
        <div class="product-layout-summary-layout">
            <div class="product-layout-summary-wrapper">
                <div class="product-summary-table-td-category-kod-wrapper">
                    <div class="product-summary-table-td-category-kod">
                        $product.code
                    </div>
                </div>

                <table class="product-summary-table" style="width: 100%" cellspacing="0">
                    <tr>
                        <td class="product-summary-table-td-category">
                            $!product.category
                        </td>
                    </tr>
                    <tr>
                        <td class="product-summary-table-td-name">
                            $product.name
                        </td>
                    </tr>
                    <tr class="product-summary-table-td-infodetail">
                        <td>EAN: $!product.ean</td>
                    </tr>
#if($showPriceMOC && $product.price && $product.price.moc)
                    <tr class="product-summary-table-td-infodetail">
                        <td>MOC: $product.price.mocFormatted $currencySymbol</td>
                    </tr>
#end
#if($showPriceVOC && $product.price && $product.price.voc)
                    <tr class="product-summary-table-td-infodetail">
                        <td>VOC: $product.price.vocFormatted $currencySymbol</td>
                    </tr>
#end
#if($showPriceMy && $product.unitPrice)
                    <tr class="product-summary-table-td-my-price">
                        <td>
                            $locale.yourPriceLabel<br/>
                            <div class="product-summary-table-td-my-price-emphasize">$product.unitPriceFormatted $currencySymbol</div>
                        </td>
                    </tr>
#end
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="body-container">
    <div class="product-detail">
        <div class="product-description">
            $!product.description
        </div>
    </div>
</div>

<div class="body-container">
    <div class="before-footer-link-wrapper">
        <div class="before-footer-link">
            <div class="before-footer-link-image-wrapper">
                <a href="#top">
                	<img src="${baseUrl}/img/arrow-head-up.png" align="left" width="30px" height="20px"  />
                </a>
            </div>
            <div class="before-footer-link-label-wrapper">
                <a href="#top">$locale.backToTopLabel</a>
            </div>
        </div>
    </div>
        <div class="product-more-info-link-wrapper">
            <div class="product-more-info-link">
                <div class="product-more-info-link-image-wrapper">
                    <a href="https://$locale.b2bDomain/detailsklk.aspx?sklk_id=$product.productId">
                       <img src="${baseUrl}/img/arrow-head-down.png" align="left" width="30px" height="20px"  />
                    </a>
                </div>
                <div class="product-more-info-link-label-wrapper">
                    <a href="https://$locale.b2bDomain/detailsklk.aspx?sklk_id=$product.productId">
                        $locale.fullDescriptionLabel
                    </a>
                </div>
            </div>
        </div>    
</div>
#end

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Double RAF + setTimeout ensures layout is fully settled before measuring
    requestAnimationFrame(function() {
        requestAnimationFrame(function() {
            setTimeout(function() {
                var productDetails = document.querySelectorAll('.product-detail');

                productDetails.forEach(function(detail) {
                    // Force synchronous reflow before measuring
                    void detail.offsetHeight;

                    var maxBottom = detail.getBoundingClientRect().top + detail.clientHeight;

                    function trimOverflow(parent, maxBottom) {
                        var children = parent.children;
                        for (var i = 0; i < children.length; i++) {
                            var el = children[i];
                            var rect = el.getBoundingClientRect();

                            if (rect.bottom > maxBottom) {
                                if ((el.tagName === 'UL' || el.tagName === 'OL') && rect.top < maxBottom) {
                                    trimOverflow(el, maxBottom);
                                } else {
                                    for (var j = i; j < children.length; j++) {
                                        children[j].style.display = 'none';
                                    }
                                    break;
                                }
                            }
                        }
                    }

                    var content = detail.querySelector('.product-description');
                    if (content) {
                        trimOverflow(content, maxBottom);
                    }
                });

                // Signal to Gotenberg that PDF is ready to render
                window.pdfReady = true;
            }, 150);
        });
    });
});
</script>
</body>
</html>
