<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	#parse( "font-styles.vm" )
	
    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: 'Exo 2', sans-serif;
            -webkit-print-color-adjust: exact;
        }
    </style>	
</head>
<body style="border: solid 1px blue;">
    <div style="width: 100%; height: 80px; background-color: #f36717; box-sizing: border-box; padding: 15px 48px; position: relative; top: 20px;">
        <table style="width: 100%; border-collapse: collapse; height: 100%;">
            <tr>
                <td style="width: 60px; vertical-align: middle;">
                    <img src="${vlnkaBase64}" style="width: 50px; height: auto; filter: brightness(0) invert(1);"/>
                </td>
                <td style="vertical-align: middle; padding-left: 15px; color: white;">
                    <div style="font-weight: bold; font-size: 13px;">
                        SOLIGHT HOLDING, S.R.O.
                    </div>
                    <div>
                        Na Brně 1972, Hradec Králové 500 06
                    </div>
                </td>
                <td style="width: 1px; background-color: rgba(255,255,255,0.5); height: 40px;"></td>
                <td style="vertical-align: middle; padding-left: 25px; color: white;">
                    <div>
                        tel.: +420 491 512 010
                    </div>
                    <div>
                        tel.: +420 800 320 155
                    </div>
                </td>
                <td style="vertical-align: middle; padding-left: 25px; color: white;">
                    <div style="font-size: 11px;">
                        e-mail: <a href="mailto:info@solight.cz" style="color: white; text-decoration: none;">info@solight.cz</a>
                    </div>
                    <div style="font-weight: bold; font-size: 16px;">
                        <a href="https://www.solight.cz" style="color: white; text-decoration: none;">www.solight.cz</a> / <a href="https://www.solight.sk" style="color: white; text-decoration: none;">www.solight.sk</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
